@import "~normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";
@import 'react-grid-layout/css/styles.css';
@import 'react-resizable/css/styles.css';

.header {
  text-align: center;
  display: flex;
  background-color: red;
}

.htmlText {
  background-color: aqua;
}

.controlPanel {
  background-color: gray;
}

.plainText {
  background-color: burlywood;
}

