@import "~normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";
@import 'react-grid-layout/css/styles.css';
@import 'react-resizable/css/styles.css';

.mainLayout {
  background-color: aquamarine;
  height: content-box;
  max-height: content-box;
}

.header {
  text-align: center;
  display: flex;
  background-color: red;
}

.controlPanel {
  background-color: gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.convertButton, .clearButton {
  margin: 10px auto;
}

.textInput {
  height: inherit !important;
}

textarea {
  resize: none;
}

