@import "~normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";
@import 'react-grid-layout/css/styles.css';
@import 'react-resizable/css/styles.css';

.mainLayout {
    height: content-box;
    max-height: content-box;
}

.header {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    height: 95%;
    width: auto;
}

.dayNightSwitch {
    position: absolute;
    right: 5px;
}

.controlPanel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.convertButton, .clearButton {
    margin: 10px auto;
    border-radius: 7px;
}

.textInput {
    height: inherit !important;
    border-radius: 10px;
}

.textOutput {
    height: inherit !important;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background-color: rgb(255, 255, 255);
    padding: 10px;
    overflow: auto;
    word-wrap: break-word;
}

body {
    color: rgba(0, 0, 0, 0.8) !important;
    background-color: #F7E8D3;
}

textarea {
    resize: none;
}

